<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tedxaueb.tedxaueb2017">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:largeHeap="true"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:label="@string/app_name">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".MainMActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="TEDxAUEB 2017">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".SpeakersActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="@string/Speakers"/>
        <activity android:name=".VenueActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="@string/Venue"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="Login"/>
        <activity android:name=".AboutMosaicActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="About Mosaic"/>
        <activity android:name=".SpeakerActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"/>
    </application>


</manifest>